/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
}
ol, ul {
	list-style: none;
}

/*begin custom style*/
.container-fluid {
	padding: 0;
}
#landing-div, #secondary-div {
	height: 725px;
	/*background-image: url("pottery.jpeg");*/
	/*background-image: url("https://hd.unsplash.com/photo-1460518451285-97b6aa326961");*/
	/*background-image: url("../images/leaves.jpeg");*/
	background-image: url("../images/night.jpeg");
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}
#secondary-div {
	height: 250px;
}
#landing-div-row {
	height: inherit;
}
#dashboard-div, #dashboard-div-row {
	height: 275px;
	background-position: center;
}
#center-content {
	/*border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;*/
	height: inherit;
}
.navbar {
	margin-top: 50px;
	border-bottom: 1px solid lightgray;
}
.navbar img {
	width: 75px;
	margin-top: -33px;
	margin-left: 10px;
}
.navbar-brand {
	text-shadow: none;
}
#you-niversity {
	padding-left: 0;
}
.you {
	color: orange;
}
#secondary-header {
	margin-left: 25%;
}
.navbar-brand h1 {
	color: white;
	font-size: 4em;
	/*margin-top: -10px;*/
	font-family: 'Clicker Script', cursive;
}
.navbar-right {
	margin-right: 0;
}
.navbar a {
	color: white;
	text-shadow: none;
}
.navbar-nav>li>a:hover {
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.25);
}
.dashboard-nav>li>a {
	width: 100%;
	color: white;
	background-color: orange;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	margin: 0 0 5px 0;
}
#profile-img {
	width:75px;
	height:75px;
	margin-top: -25px;
	border-radius: 100%;
	background-image: url("woman.jpeg");
	background-size: cover;
}
#landing-message {
	margin-top: 125px;
}
#landing-div-row #landing-search-div {
	margin-top: 125px;
}
#dashboard-search-div {
	margin-top: 25px;
}
#search-bar {
	background-color: rgba(255, 255, 255, 0.15);
	height: 80px;
	border-radius: 3px;
}

#landing-div-row h2, #landing-div-row h3 {
	text-align: center;
	color: white;
}
#landing-div-row h2 {
	color: orange;
}
#landing-div-row h2 {
	margin-top: 15px;
	font-family: 'Clicker Script', cursive;
	font-size: 4.8em;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.8);

}
#landing-div-row h3 {
	font-size: 1.5em;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.8);
}
input, textarea {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	border-radius: 3px;
}
select {
	width: 15%;
	height: 40px;
	border-radius: 3px;
	margin:0 10px;
	color: black;
	font-weight: 300;
}
textarea {
	height: 130px;
}
input:focus, textarea:focus, select:focus {
	outline: none;
	border: 2px solid orange;
}
#search-bar h4 {
	color: white;
	height: 30px;
	margin-top: 20px;
	text-align: left;
	vertical-align: middle;
	font-size: 1.2em;
}

#class-display h3 {
	color: black;
	font-size: 2em;
	margin: 50px 0 20px 0;
	text-align: center;
}
#class-display h4 {
	color: orange;
	font-size: 1.5em;
	margin: 20px 0 50px 0;
	text-align: center;
}
#course-block {
	margin-bottom: 50px;
}
#course-block-top {
	margin-bottom: 0;
}
.single-course {
	width: 48%;
	height: 200px;
	border-radius: 3px;
	padding: 1%;
	margin: 1%;
	background-size: cover;
	float: left;
}
.single-course:hover {
	border: 5px solid white;
	/*filter: blur(20px) grayscale(20%);*/
	-webkit-filter: grayscale(60%);
	-moz-filter: grayscale(60%);
	-o-filter: grayscale(60%);
	-ms-filter: grayscale(60%);
	filter: grayscale(60%);

}
#course-block a, #course-block-top a {
	color: white;
	text-decoration: none;
}
.single-course-text {
	width: 80%;
	font-weight: bold;
	margin-left: 10%;
	margin-top: 65px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
hr {
	margin: 10px 0;
}
.single-course-text h4 {
	font-size: 1.5em;
}
.form-display {
	margin-top: 85px;
	margin-bottom: 50px;
	border: 2px solid orange;
	border-radius: 3px;
}
.form-display input, .form-display textarea {
	border: 2px solid #b5b5b5;
}
.form-display input:focus {
	outline: none;
	border: 2px solid orange;
}
.form-submit-button {
	margin-bottom: 20px;
}
.google-login {
	margin-top: 0;
}
.form-display p {
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 20px;
}
.signup-display p {
	margin-top: 20px;
}

/*single course display*/

#single-course-display {
	margin-top: 80px;
	line-height: 1.3;
}
.center {
	text-align: center;
}
.bold {
	font-weight: 700;
}
.left-course-display {
	padding: 10px;
	font-size: 1.5em;
	border: 3px solid orange;
	border-radius: 3px;
}
.left-course-display p {
	margin: 20px 0;
}
#title-container {
	margin: 0;
	padding: 0;
}
#course-title {
	vertical-align: bottom;
	line-height: 1.1em;
	font-size: 2.5em;
	color: orange;
	margin-top: 2px;
	font-weight: bold;
}
#course-description {
	margin-top: 20px;
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1.3;
}
#course-prereqs {
	margin-top: 20px;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.3;
}
.instructor-profile-img {
	width: 80%;
	padding-bottom: 80%;
	margin-left: 10%;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
}
.student-profile-img {
	width: 80%;
	padding-bottom: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
	border-radius: 100%;
	border: 2px solid orange;
	background-size: cover;
	background-position: center;
}
.btn-div {
	background-color: orange;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	text-align: center;
	font-weight: 700;
}
.no-padding {
	padding: 0;
	margin-top: 20px;
}
#taught-by p {
	font-size: 1.3em;
	margin-bottom: 10px;
}

#roster-review-comments-div {
	margin: 20px -15px;
	border: 2px solid orange;
}
.add-comment-review {
	margin-left: 82%;
	margin-top: 1%;
}
#roster-review-comments-div h2 {
	font-weight: 700;
	font-size: 1.5em;
	background-color: orange;
	padding: 10px;
}
#roster-review-comments-div h3 {
	font-size: 1.3em;
	margin-bottom: 10px;
}
.roster-list {
	margin-top: 20px;
}
.dashboard-display {
	margin: 120px 0 20px 0;
}
/*create course display*/
.create-course h2 {
	color: white;
	font-size: 1.7em;
	text-align: center;
	margin-top: 40px;
}
.create-course-form {
	margin-top: 20px;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.course-display-change {
	padding: 10px;
}
.course-display-change:hover {
	background-color: #ebebeb;
	border-radius: 3px;
	cursor: pointer;
}
.dropdown-toggle {
	color: white;
	margin-top: 17px;
	margin-right: 5px;
	margin-left: 10px;
}
/*footer*/
footer {
	width: 100%;
	height:75px;
	color: white;
	text-align: center;
	background-color: black;
}
#footer-text {
	padding-top: 20px;
}
